<div>
    <span ng-if="skill.Id == 0" ng-bind-html="_Notifications('post_skill') "></span>
    <span ng-if="skill.Id != 0" ng-bind-html="_Notifications('put_skill') "></span>
    <div class="form-group">
        <label for="skillName" class="col-md-3 control-label">Name</label>
        <div class="col-md-9">
            <select id="skillName" class="form-control">
                <option value="{{skill.Id}}" selected>{{skill.SkillName}}</option>
            </select>
        </div>
        <script type="text/javascript">
            jQuery(document)
                .ready(function (r) {
                    var $scope = angular.element("#skillName").scope();
                    select2fyWithAutoComplete("skills", jQuery("#skillName"), "Id", "SkillName", true, function (evt) {
                        $scope.skill.SkillName = evt.params.data.text;
                        $scope.skill.Id = evt.params.data.id;
                        $scope.$apply();
                    });
                });
        </script>
    </div>
    <div class="form-group">
        <label for="description" class="col-md-3 control-label">Description</label>
        <div class="col-md-9">
            <textarea type="text" class="form-control" id="description" placeholder="Description" ng-model="skill.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="displayOrder" class="col-md-3 control-label">Display Order</label>
        <div class="col-md-9">
            <textarea type="number" class="form-control" id="displayOrder" placeholder="Display Order" ng-model="skill.DisplayOrder"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="skill_{{CurrentUser.Id}}" class="col-md-3 control-label">Upload Media</label>
        <div class="col-md-3">
            <a file-upload-button
               id="skill_{{CurrentUser.Id}}_video"
               fieldname="SkillVideo"
               uploadtype="video"
               onsuccessitem="uploadSkillMediaSuccess"
               url="/api/media/uploadvideo">
                <i class="fa fa-video-camera"></i> Add Video
            </a>
            <a file-upload-button
               id="skill_{{CurrentUser.Id}}_image"
               fieldname="SkillImage"
               uploadtype="image"
               onsuccessitem="uploadSkillMediaSuccess"
               url="/api/media/uploadpictures">
                <i class="fa fa-file-picture-o"></i> Add Image
            </a>
        </div>
    </div>
    <div class="form-group" ng-if="skill.Media.length > 0">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 text-center" ng-repeat="media in skill.Media">
                    <a media-button target="#video-modal" media="media" class="video-thumbnail">
                        <span class="fa fa-play" ng-if="media.MediaType == 1"></span>
                        <img ng-src="{{media.ThumbnailUrl}}"/>
                    </a>
                    <div>
                        <a ng-click="deleteUserSkillMedia(skill.UserSkillId, media.Id)">
                            <i class="fa fa-times"></i> Remove
                        </a>
                    </div>
                   
                </div>
            </div>
            <media-modal id="video-modal"></media-modal>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <button type="button" class="btn btn-primary" ng-click="postSkill(skill)">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>