<span ng-switch on="FollowStatus">
    <span ng-switch-when="0">
        <a class="button-primary button" ng-click="Follow()">
            Follow
        </a>
    </span>
    <span ng-switch-when="1">
        <a class="button-primary button" ng-click="Unfollow()">
            Unfollow
        </a>
    </span>
</span>