<div ng-switch on="FollowStatus">
    <div ng-switch-when="0">
        <a class="button-primary" ng-click="Follow()">
            Follow
        </a>
    </div>
    <div ng-switch-when="1">
        <a class="button-primary" ng-click="Unfollow()">
            Unfollow
        </a>
    </div>
</div>