<div class="fixed-popup" ng-show="media">
    <div class="modal fade modal-media" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel">
        <div class="overlay" ng-click="media=null"></div>
        <div class="content" role="document">
            <div class="modal-content">
                <div class="modal-body clear-padding top">
                    <div class="row">
                        <div class="media-contents">
                            <a href="" ng-if="media.PreviousMediaId != 0" class="prev" ng-click="prevMedia()"><i class="fa fa-angle-left"></i></a>
                            <div ng-switch on="media.MediaType">
                                <div ng-switch-when="0">
                                    <img ng-src="{{media.Url}}" />
                                </div>
                                <div ng-switch-when="1">
                                    <div class="video-container">
                                        <videogular vg-player-ready="videoPlayerReady($API)" vg-responsive="true" vg-theme="videogularConfig.theme">
                                            <vg-media vg-src="$API.sources" vg-tracks="" preload="videogularConfig.preload"></vg-media>

                                            <vg-controls>
                                                <vg-play-pause-button></vg-play-pause-button>
                                                <vg-time-display>{{ currentTime | ms2timestr }}</vg-time-display>
                                                <vg-time-display>{{ timeLeft | ms2timestr }}</vg-time-display>
                                                <vg-volume>
                                                    <vg-mute-button></vg-mute-button>
                                                    <vg-volume-bar></vg-volume-bar>
                                                </vg-volume>
                                                <vg-fullscreen-button></vg-fullscreen-button>
                                            </vg-controls>
                                            <vg-overlay-play></vg-overlay-play>
                                            <vg-poster vg-url='media.ThumbnailUrl'></vg-poster>

                                        </videogular>
                                    </div>
                                </div>
                            </div>
                            <a href="" ng-if="media.NextMediaId != 0" class="next" ng-click="nextMedia()"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="social-box">
                            <div class="user-profile">
                                <img ng-src="{{media.CreatedBy.ProfileImageUrl}}" class="img-circle img-sm margin-r-5 profile-user-img" />
                                <a ui-sref="layoutMobSocial.userprofile.tabs({ idOrUserName: media.CreatedBy.UserName ? media.CreatedBy.UserName : media.CreatedBy.Id })">
                                    {{media.CreatedBy.CustomerName}}
                                </a>
                                <span class="post-time">
                                    <i class="fa fa-clock-o"></i>
                                    <time am-time-ago="media.DateCreatedUtc"></time>
                                </span>
                            </div>
                            <div class="clearfix">
                                <like-button entityid="{{media.Id}}" entityname="media" likestatus="media.LikeStatus" totallikes="{{media.TotalLikes}}"></like-button>
                                <comments-box ng-if="media.Id > 0" entityid="{{media.Id}}" entityname="media" canedit="{{media.CanComment}}" totalcomments="{{media.TotalComments}}"></comments-box>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
