<h3>Thank you for using mobSocial</h3>

<div style="font-size:15px">
    <p>
        We hope that mobSocial is proving out to be the plugin you've been waiting for. We'd like to hear from you as we move forward.
    </p>

    <p>
        <h4>License</h4>
        You can read the license terms of mobSocial at the following links:
        <ul>
            <li><a target="_blank" href="https://github.com/mobsoftware/mobsocial.webapi/blob/master/Nop.Plugin.WebApi.mobSocial/license.txt">WebApi for nopCommerce</a></li>
            <li><a target="_blank" href="https://github.com/mobsoftware/mobSocial.nopCommercePlugin/blob/master/Nop.Plugin.Widgets.mobSocial/license.txt">MobSocial Plugin for nopCommerce</a></li>
        </ul>
    </p>
    <p>
        <h4>Remove social network by mobSocial text</h4>
        If you want to remove the "social network by mobSocial" link, please contact us at <a href="mailto:info@mobsocial.co">info@mobsocial.co</a>
    </p>
    <p>
        <h4>To change the settings of mobSocial install</h4>
        Visit <a target="_blank" href="/Configuration/Configure">settings page</a> to change the settings of this mobSocial install.
    </p>
    <p>
        <h4>MobSocial Standalone</h4>
        To install mobSocial as a standalone application or to contribute to the development of standalone application, visit <a target="_blank" href="https://github.com/mobsoftware/mobsocial">MobSocial Standalone Repository</a>
    </p>
    <p>
        <h4>Contribute</h4>
        To download source code, visit the respective GitHub repositories of <a href="https://github.com/mobsoftware/mobsocial.webapi" target="_blank">WebApi for nopCommerce</a>, <a target="_blank" href="https://github.com/mobsoftware/mobSocial.nopCommercePlugin">MobSocial Client for nopCommerce</a> and <a href="https://github.com/mobsoftware/mobSocial.nopCommercePlugin" target="_blank">MobSocial Suite</a>.
    </p>
</div>