@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    var showBox = true;
}
@section left
{
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        @Html.Action("PublicInfo", "SocialNetworkNavigation", new { widgetZone = "account_navigation_after" })

    }
}

<div ng-app="mobSocialApp" class="mobsocialapp" ng-cloak>
    @RenderBody()

    @if (showBox)
    {
        @Html.Partial("~/Plugins/Widgets.MobSocial/Views/mobSocial/Conversation/ConversationBox.cshtml", false)
    }
</div>