@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    var showBox = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer.IsRegistered();
}
@section left
{
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        @Html.Action("PublicInfo", "SocialNetworkNavigation", new { widgetZone = "account_navigation_after" })

    }
}

<div ng-app="mobSocialApp" ng-cloak>
    @RenderBody()

    @if (showBox)
    {
        @Html.Partial("mobSocial/Conversation/ConversationBox")
    }
</div>