@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var showBox = true;
}
<div ng-app="mobSocialApp" class="mobsocialapp" ng-cloak>
    @RenderBody()
    @if (showBox)
    {
        @Html.Partial("~/Plugins/Widgets.MobSocial/Views/mobSocial/Conversation/ConversationBox.cshtml", false)
    }
</div>