@model List<Nop.Plugin.Widgets.MobSocial.Models.CustomerFriendModel>

<style type="text/css">
    .info-friend-block-container {
        width: 300px;
    }

    .info-friend-block-picture {
        width: 90px;
    }

</style>


<div class="info-friend-block-container">
    @foreach (var friend in Model)
    {
        <div class="info-friend-block-picture">
            <a href="@friend.ProfileUrl">
                <img src="@friend.ProfileThumbnailUrl" alt="@friend.CustomerDisplayName" title="@friend.CustomerDisplayName" />
            </a>
        </div>
    }
</div>