@model List<Nop.Plugin.WebApi.MobSocial.Models.CustomerFriendModel>


<script type="text/javascript">
    $(document).ready(function() {
        $('.view-all-friends-link').click(function() {
            $('#tabs').tabs("option", "active", 3);
        });
    });
</script>
    
<div class="info-friend-block-container">
    
    @if (Model.Count > 0)
    { 
        foreach (var friend in Model)
        {
            <div class="info-friend-block-picture">
                <a href="@friend.ProfileUrl">
                    <img src="@friend.ProfileThumbnailUrl" alt="@friend.CustomerDisplayName" title="@friend.CustomerDisplayName" />
                </a>
            </div>
        }
        <br />
        <div class="view-all-friends-link"><a href="#">View All Friends>></a></div>
    }
</div>
