@model Nop.Plugin.WebApi.MobSocial.Models.ProfilePictureModel

 @if (Model.AvatarEnabled && !String.IsNullOrEmpty(Model.AvatarUrl))
    {
        <div class="avatar">
            <a href="@Model.FullSizeAvatarUrl" id="main-img-lightbox-anchor-1">
                <img id="main-event-img-1" class="avatar-img" src="@Model.AvatarUrl" itemprop="image" />
            </a>

            @if (Model.CanEdit)
            {
                <button id="editProfilePicture" ng-click="editProfilePicture()"><i class="fa fa-camera"></i> Edit</button>
            }
        </div>

    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#main-img-lightbox-anchor-1').magnificPopup(
            {
                type: 'image',
                removalDelay: 300,
                gallery: {
                    enabled: true
                }
            });
        });
    </script>


    }