@model Nop.Plugin.Widgets.MobSocial.Models.ProfilePictureModel

 @if (Model.AvatarEnabled && !String.IsNullOrEmpty(Model.AvatarUrl))
    {
        <div class="avatar">
            <img src="@(Model.AvatarUrl)" class="avatar-img" alt="Avatar" />
        </div>         
    }