@using Nop.Web.Framework.UI

@model Nop.Plugin.Widgets.MobSocial.Models.ProfileInformationModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

@section left
{
    @Html.Partial("~/Views/Customer/MyAccountNavigation.cshtml", Model.NavigationModel, new ViewDataDictionary())

    @Html.Action("SocialNetworkNavigation", "MobSocial", new { NavigationModel = Model.NavigationModel })

}
<div class="page account-page order-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - Profile Info</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
  
        <div class="">
            
           
          
        </div>

    </div>
</div>
