<div>
    <h2>{{songListName}}</h2>

    <ul>
        <li class="song-item" ng-repeat="song in customer.FavoriteSongs">
            <span>{{$$index}}</span>

            <img class="song-image" src="" style="width:30px; height:30px; vertical-align:middle;" />
            <span class="song-title">{{song.Title}}</span>
            <a href="" mob-preview-song-button trackid="{{song.TrackId}}">Play</a> |
            <a href="{{song.AffiliateUrl}}">Buy</a>
            <span ng-show="{{customer.IsSelf}}"> | 
            <a ng-click="DeleteSong(song)">Delete</a></span>

        </li>
    </ul>



    <button ng-click="openAddFavoriteSongDialog()">Add Song</button>
</div>

<div id="addFavoriteSongDialog" title="Add Favorite Song" style="display:none;" ng-controller="favoriteSongController">

    Search:  <input type="text"
                    auto-complete
                    min-length="3"
                    http-service="httpSupplierService"
                    render-item="songRender"
                    render-item-ui="songRenderItemUi"
                    on-select="songSelect" />

    Selected Song: <span id="selectedSong"></span>

</div>




