@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@{
    var currentUser = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
    var isLoggedIn = !currentUser.IsGuest();
}

@if (isLoggedIn)
{
    <div class="chat-area">
        <div class="chat-box">
            <div class="">
                <div class="chat-box-section-friend-list">
                    <div class="friend-list" block-ui>
                        <ul>
                            <li ng-repeat="chat in Chat.openChats">
                                <a ng-click="Chat.chatWith(chat.conversation.ReceiverId, attachReadScroller())" ng-class="{'active': Chat.isActiveChat(chat.conversation.ReceiverId)}" onclick="focusToInput()">
                                    <img class="img-sm img-circle margin-r-5" ng-src="{{chat.conversation.ReceiverImageUrl}}"/>
                                    <span>{{chat.conversation.ReceiverName}}</span><span ng-if="chat.unreadCount > 0" class="unread-count">{{chat.unreadCount}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chat-box-section-chat-scroll" ng-class="{'hidden' : !Chat.isOpen()}">
                    <div class="chat-scroll">
                        <div class="conversation">
                            <div ng-if="Chat.activeChat.conversation.ConversationReplies.length < Chat.activeChat.conversation.TotalReplies" class="load-more">
                                <a ng-click="Chat.loadChat(Chat.activeChat.userId, Chat.activeChat.loadedPage + 1)">Load More</a>
                            </div>
                            <ul>
                                <li ng-repeat="reply in Chat.activeChat.conversationDetails.ConversationReplies track by $index">
                                    <div class="thread-date" ng-if="!areDatesSame(reply.DateCreatedLocal, Chat.activeChat.conversationDetails.ConversationReplies[$index - 1].DateCreatedLocal)">
                                        {{reply.DateCreatedLocal | date : "fullDate"}}
                                    </div>
                                    <div class="reply" ng-class="{'my-reply': reply.UserId == @currentUser.Id}">
                                        <a ng-if="reply.UserId != @currentUser.Id">
                                            <img class="img-sm img-circle margin-r-5 user-profile" ng-src="{{Chat.activeChat.conversationDetails.Users[reply.UserId].ProfileImageUrl}}"/>
                                            <span>{{Chat.activeChat.conversationDetails.Users[reply.UserId].Name}}</span>
                                        </a>
                                        <div class="reply-text">
                                            {{reply.ReplyText}}
                                        </div>
                                        <div class="reply-status">
                                            <span ng-if="reply.ReplyStatus != 0 && reply.UserId == @currentUser.Id">
                                                <span ng-switch on="reply.ReplyStatus">
                                                    <span ng-switch-when="2" class="received">
                                                        <i class="fa fa-check"></i>
                                                    </span>
                                                    <span ng-switch-when="3" class="read">
                                                        <i class="fa fa-check-circle"></i>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="reply-date">
                                                {{reply.DateCreatedLocal | date : "h:mm a"}}
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="Chat.activeChat.activeTypingUserId" class="typing-notify">
                                <i class="fa fa-circle-o-notch fa-spin"></i> <span>{{Chat.activeChat.conversationDetails.Users[Chat.activeChat.activeTypingUserId].Name}}</span> is typing
                            </div>
                        </div>
                        <div class="submission-area col-xs-12 col-md-12">
                            <form method="post">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" id="chat-input" ng-model="Chat.activeChat.replyText" autocomplete="off" placeholder="start typing your message..."/>
                                    <span class="input-group-btn">
                                        <button type="submit" ng-click="Chat.sendReply()" class="btn btn-secondary btn-flat">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-switcher">
            <a id="switch-link" ng-click="Chat.loadOnlineFriends(@currentUser.Id)">
                <i class="fa fa-comments"></i> Chat <span class="unread-count" ng-if="(Chat.getTotalUnreadCount() || Chat.globalUnreadCount) > 0">{{Chat.getTotalUnreadCount() || Chat.globalUnreadCount || ''}}</span>
            </a>
            <script type="text/javascript">
                jQuery("#switch-link")
                    .click(function(e) {
                        jQuery(".chat-area").toggleClass("expanded");
                        e.preventDefault();
                    });
                var focusToInput = function() {
                    jQuery("#chat-input").focus();
                }
            </script>
        </div>
    </div>
}
else
{
    <a id="switch-link" href="/login">
        <i class="fa fa-comments"></i> Chat
    </a>
}
