<div style="display: inline-block">
    <a ng-click="edit()" class="button">{{buttonText}}</a>
    <div class="fixed-popup" ng-if="editing">
        <div class="overlay"></div>
        <div class="content">
            <div class="fieldset">
                <div class="title">
                    Skill Editor
                    <div class="text-right">
                        <button ng-if="skill.UserSkillId > 0" ng-click="deleteUserSkill(skill.UserSkillId)" class="delete-button"><i class="fa fa-times"></i> Delete</button>
                    </div>
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        <label for="skill-autocomplete">Name</label>
                        <angucomplete-alt id="skill-autocomplete"
                                          placeholder="Start typing a new skill"
                                          selected-object="selectSkill"
                                          remote-api-handler="autocompleteSkills"
                                          remote-url-data-field="AutoComplete.Skills"
                                          minlength="1"
                                          pause="300"
                                          title-field="SkillName"
                                          name="skill-autocomplete"
                                          type="text"
                                          input-class="form-control" style="display: inline-block"></angucomplete-alt>
                    </div>
                    <div class="inputs">
                        <label for="skillDescription">Description</label>
                        <textarea id="skillDescription" ng-model="skill.Description"></textarea>
                    </div>
                    <div class="inputs">
                        <label for="skillDisplayOrder">Display Order</label>
                        <input type="number" id="skillDisplayOrder" ng-model="skill.DisplayOrder"/>
                    </div>
                    <div class="inputs">
                        <label>Upload Media</label>
                        <a file-upload-button
                           id="skill_video"
                           fieldname="SkillVideo"
                           uploadtype="video"
                           onsuccessitem="uploadSkillMediaSuccess"
                           url="/api/media/uploadvideo">
                            <i class="fa fa-video-camera"></i> Add Video
                        </a>
                        <a file-upload-button
                           id="skill_image"
                           fieldname="SkillImage"
                           uploadtype="image"
                           onsuccessitem="uploadSkillMediaSuccess"
                           url="/api/media/uploadpictures">
                            <i class="fa fa-file-picture-o"></i> Add Image
                        </a>
                    </div>
                    <div class="inputs">
                        <table class="data-table" style="width: 400px; margin: 0px auto;">
                            <tr ng-repeat="media in skill.Media">
                                <td>
                                    <a media-button target="#video-modal" media="media" class="video-thumbnail">
                                        <span class="fa fa-play" ng-if="media.MediaType == 1"></span>
                                        <img ng-src="{{media.ThumbnailUrl}}" style="width: 100px; height: 100px;"/>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="deleteUserSkillMedia(skill.UserSkillId, media.Id)">
                                        <i class="fa fa-times"></i> Remove
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="buttons">
                        <button ng-click="postSkill()">Save</button>
                        <button ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
