################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mob.Core/bin
/Mob.Core/obj
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/de
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/es
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/es/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/fr
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/fr/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/it
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/it/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/nl
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/nl/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/pl
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/pl/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/pt
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/pt/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/ru
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/ru/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/sv
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/sv/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/tr
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/tr/FluentValidation.resources.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Autofac.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Autofac.Integration.Mvc.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Autofac.Integration.Mvc.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Autofac.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/AutoMapper.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Description.txt
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/EntityFramework.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/EntityFramework.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/EPPlus.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/EPPlus.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/FluentValidation.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/FluentValidation.Mvc.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/FluentValidation.Mvc.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/FluentValidation.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/FluentValidation.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/itextsharp.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/MiniProfiler.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/MiniProfiler.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/MiniProfiler.xml
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Mob.Core.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Mob.Core.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Admin.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Admin.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Core.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Core.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Data.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Data.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Plugin.Widgets.mobSocial.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Plugin.Widgets.mobSocial.dll.config
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Plugin.Widgets.mobSocial.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Services.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Services.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Web.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Web.Framework.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Web.Framework.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Nop.Web.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Recaptcha.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Recaptcha.pdb
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/sitemap.config
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/System.Web.Optimization.dll
/Nop.Plugin.Widgets.mobSocial/$(SolutionDir)/Presentation/Nop.Web/Plugins/mobSocial/Telerik.Web.Mvc.dll
/Nop.Plugin.Widgets.mobSocial/obj/Debug
/Nop.Plugin.Widgets.mobSocial/App_GlobalResources
/Nop.Plugin.Widgets.mobSocial/Nop.Plugin.Widgets.MobSocial.csproj.DotSettings.user
/Nop.Plugin.Widgets.mobSocial/mobSocial.v11.suo
/Nop.Plugin.Widgets.mobSocial/bin/Release
/Nop.Plugin.Widgets.mobSocial/bin/Release
/Nop.Plugin.Widgets.mobSocial/obj/Release
/Nop.Plugin.Widgets.mobSocial/Nop.Plugin.Widgets.MobSocial.csproj.user
/Nop.Plugin.Widgets.mobSocial/obj/Debug/Nop.Plugin.Widgets.mobSocial.dll
/Nop.Plugin.Widgets.mobSocial/obj/Debug/Nop.Plugin.Widgets.mobSocial.dll
*.suo
*.gitattributes
*.db
