<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title">
            Media Settings
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formSettingEditor" class="form-horizontal">
            <fieldset  block-ui>
                <div class="box-body">
                    <span ng-bind-html="_Notifications('post_setting') "></span>
                    <div class="form-group">
                        <label for="MaximumFileUploadSizeForImages" class="col-md-3 control-label">Image Max. Upload Size</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="MaximumFileUploadSizeForImages" placeholder="www.yoursite.com" ng-model="setting.MaximumFileUploadSizeForImages">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaximumFileUploadSizeForVideos" class="col-md-3 control-label">Videos Max. Upload Size</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="MaximumFileUploadSizeForVideos" placeholder="www.yoursite.com" ng-model="setting.MaximumFileUploadSizeForVideos">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MaximumFileUploadSizeForDocuments" class="col-md-3 control-label">Other docs. Max. Upload Size</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="MaximumFileUploadSizeForDocuments" placeholder="www.yoursite.com" ng-model="setting.MaximumFileUploadSizeForDocuments">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PictureSavePath" class="col-md-3 control-label">Picture Save Path</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="PictureSavePath" placeholder="~/pictures" ng-model="setting.PictureSavePath">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="VideoSavePath" class="col-md-3 control-label">Videos Save Path</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="VideoSavePath" placeholder="~/videos" ng-model="setting.VideoSavePath">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OtherMediaSavePath" class="col-md-3 control-label">Other Media Save Path</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="OtherMediaSavePath" placeholder="~/docs" ng-model="setting.OtherMediaSavePath">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ThumbnailPictureSize" class="col-md-3 control-label">Thumbnail Picture Size</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="ThumbnailPictureSize" placeholder="800x600" ng-model="setting.ThumbnailPictureSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SmallProfilePictureSize" class="col-md-3 control-label">Small Profile Picture Size</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="SmallProfilePictureSize" placeholder="800x600" ng-model="setting.SmallProfilePictureSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MediumProfilePictureSize" class="col-md-3 control-label">Medium Profile Picture Size</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="MediumProfilePictureSize" placeholder="800x600" ng-model="setting.MediumProfilePictureSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SmallCoverPictureSize" class="col-md-3 control-label">Small Cover Picture Size</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="SmallCoverPictureSize" placeholder="800x600" ng-model="setting.SmallCoverPictureSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="MediumCoverPictureSize" class="col-md-3 control-label">Medium Cover Picture Size</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="MediumCoverPictureSize" placeholder="800x600" ng-model="setting.MediumCoverPictureSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DefaultUserProfileImageUrl" class="col-md-3 control-label">Default User Profile Image Url</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="DefaultUserProfileImageUrl" placeholder="http://yoursite.com/userdefault.jpg" ng-model="setting.DefaultUserProfileImageUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DefaultUserProfileCoverUrl" class="col-md-3 control-label">Default User Profile Cover Url</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="DefaultUserProfileCoverUrl" placeholder="http://yoursite.com/coverdefault.jpg" ng-model="setting.DefaultUserProfileCoverUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
