@{
    Layout = "~/Plugins/Widgets.mobSocial/Views/mobSocial/_AppColumnsTwo.cshtml";

    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/Includes.cshtml")

}


<div ng-controller="VideoBattlesPageController">
    <div class="page-title">
        <h1>Video Battles</h1>
    </div>
    <div class="page-body">
        <div id="tabs">
            <ul class="resp-tabs-list">
                <li ng-click="GetVideoBattles('open')"><i class="fa fa-video-camera"></i> Open Battles</li>
                <li ng-click="GetVideoBattles('open-to-join')"><i class="fa fa-flag"></i> Join a battle</li>
                <li ng-click="GetVideoBattles('challenged')"><i class="fa fa-bullhorn"></i> Open Challenges</li>
                <li ng-click="GetVideoBattles('my')"><i class="fa fa-user"></i> My Battles</li>
                <li ng-click="GetVideoBattles('closed')"><i class="fa fa-trophy"></i> Closed Battles</li>
            </ul>
            <div class="resp-tabs-container">
                @for (var i = 0; i < 5; i++)
                {
                    <div>
                        @switch (i)
                        {
                            case 2:
                                <div style="text-align: right; margin-bottom: 10px">
                                    <a href="@Url.RouteUrl("VideoBattleEditor")"><i class="fa fa-plus-circle"></i> Create Video Battle</a>
                                </div>
                                break;
                        }
                        <div class="battles-container">
                            <div ng-if="processing">
                                Loading battles...
                            </div>
                            <div ng-if="VideoBattles.length == 0 && loaded" class="text-center">
                                No video battles found
                            </div>
                            <div ng-repeat="VideoBattle in VideoBattles">
                                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/VideoBattleBox.cshtml")
                            </div>
                        </div>
                    </div>
                }
                
            </div>
            
        </div>
    </div>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").easyResponsiveTabs();
        $("#inner-open-tabs").easyResponsiveTabs();

    });
</script>