<div class="row media-list" ng-controller="mediaController" ng-init="getMedia(null, 'pictures')">
    <div class="col-md-3 col-sm-6 col-xs-12 media-item" ng-repeat="media in mediaItems">
        <a media-button target="#picture-modal" media="media">
            <img ng-src="{{media.ThumbnailUrl}}"/>
        </a>
    </div>
    <media-modal id="picture-modal"></media-modal>
    <div ng-if="mediaItems && mediaItems.length == 0">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                No visible pictures found
            </div>
        </div>
    </div>
</div>