<div class="row" ng-controller="skillController" ng-init="loadProfileSkills()">
    <div class="col-md-4" ng-repeat="skill in skills">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-primary">
                <h3 class="widget-user-username text-center">
                    <a ui-sref="layoutMobSocial.skill({ slug : skill.SeName})">{{skill.Name}}</a>
                </h3>
                <h5 class="widget-user-desc">
                    {{skill.Description}}
                </h5>
            </div>
            <div class="box-footer no-padding">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="description-block no-margin">
                            <div ng-if="skill.Media.Id > 0">
                                <a media-button target="#video-modal" media="skill.Media">
                                    <img ng-src="{{skill.Media.ThumbnailUrl}}" />
                                </a>
                                <media-modal id="video-modal"></media-modal>
                            </div>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    
</div>
