 <!-- Content Header (Page header) -->
<section class="content-header" ng-init="getSkills()">
    <h1 class="box-title">
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="layoutAdministration.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Skills</li>
    </ol>
</section>
<div class="box" ng-if="!skill">
    <div class="box-header">
        <h1 class="box-title">
            Manage Skills
        </h1>
        <div class="pull-right">
            <a ng-click="edit({})" class="btn btn-primary"><i class="fa fa-plus"></i> Add Skill</a>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="table-responsive">
            <table class="table no-margin user-list">
                <tr ng-repeat="skill in skills">
                    <td>
                        {{skill.Name}}
                    </td>
                    <td>
                        <span class="pull-right">
                            <a ng-click="edit(skill)" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-if="skill">
    <ng-include src="'/pages/skills/skill.editor.admin.html'"></ng-include>
</div>
