<form role="form" name="formUserEditor" class="form-horizontal">
    <fieldset block-ui>
        <div class="box">
            <div class="box-header">
                <h1 class="box-title">
                    Skill Editor
                </h1>
            </div>
            <div class="box-body">
                <span ng-if="skill.Id == 0" ng-bind-html="_Notifications('post_skill') "></span>
                <span ng-if="skill.Id != 0" ng-bind-html="_Notifications('put_skill') "></span>
                <div class="form-group">
                    <label for="skillName" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" id="skillName" ng-model="skill.SkillName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-3 control-label">Description</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" id="description" placeholder="Description" ng-model="skill.Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="displayOrder" class="col-md-3 control-label">Display Order</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" id="displayOrder" placeholder="Display Order" ng-model="skill.DisplayOrder"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" class="btn btn-primary" ng-click="postSkill(skill)">Save</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
