.profile-page .page-body {
    margin-top: 10px;
}

.profile-left {
    display: inline-block;
    max-width: 205px;
    vertical-align: top;
}

.profile-center-content {
    padding-top: 1px;
    display: inline-block;
    vertical-align: top;
    /*width: 545px; <-three column layout width*/
    width: 697px;
    margin: 0;
    padding: 0;
}

.profile-center-content h2 {
    font-size: 16pt;
    color: rgb(58, 64, 69);
    text-transform: capitalize;
}



.profile-right {
    display: inline-block;
    width: 175px;
    min-height: 500px;
    vertical-align: top;
    border: 1px solid #cccccc;
}

.send-pm-box {
    height: 16px;
    vertical-align: middle;
}

    .send-pm-box span { 
        display: inline-block;
        vertical-align: middle;
    }

    .send-pm-box .pm-link-button {
        line-height: 14px;
        padding: 1px 9px 2px 20px;
        margin-left: 1px;
    }


.friend-button {
    padding: 2px 6px 0px 0px;
    vertical-align: middle;
}







.confirm-friend-button:hover, .add-friend-button:hover {
    cursor: pointer;
}

.confirm-friend-button {
    vertical-align: middle;    
}
 


.hide {
    display: none;
}



.customer-friends-container {
    width: 720px;
}

.customer-friends-friend-block {
    width: 100px;
    padding: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.customer-friend-request-block {
    width: 100px;
    padding: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.ui-tabs .ui-tabs-panel {
    border-left: 1px solid #aaaaaa !important;
    border-right: 1px solid #aaaaaa !important;
    min-height: 500px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.avatar {
    margin-bottom: 3px;
}




/*** TEAM PAGE ***/
.team-description { }

.team-picture { border: none;display: none; }
.team-container { width: 725px; }
.team-container h1 { font-size: 3em; }

    
.team-member-picture { width: 200px;display: inline-block; margin: 0 10px 10px 0; }
.team-member-name { font-size: 1.1em;font-weight: bold; text-transform: capitalize; }
.team-member-title { font-size: 1.1em;font-weight: bold;}


.group-container { width: 880px; }
.group-container h2 {
    margin-bottom: 15px !important;
    display: block;
}


.team-group-description { font-size: 1.1em;margin-bottom: 30px; }

.group-members-container { padding-left: 30px; }

/*** END TEAM PAGE ***/




/*** CUSTOMER FRIEND BLOCK ***/
.info-friend-block-container {
        width: 210px;
    }

    .info-friend-block-picture {
        width: 51px;
        padding: 0px;
        display: inline-block;
    }

    .view-all-friends-link {
        cursor: pointer;
    }

    .no-friends-message { }

    .customer-friend-block-no-friends-container {
        margin-left: 3px;
        margin-top: 5px;
    }

/*** END CUSTOMER FRIEND BLOCK ***/


/*** BEGIN CUSTOMER ALBUM/PICTURE BLOCK ***/
.customer-album-container {
    width: 655px;
}

.customer-album-picture-block {
    width: 325px;
    display: inline-block;
    padding: 0 0 5px 0;
}

.customer-album-description {
    font-weight: normal;
    font-size: 1.1em;
}

.customer-video-block {
    display: inline-block;
}








.customer-album-container .add-picture-button,
.customer-album-container .add-video-button,
.customer-video-like-button,
.delete-video-button
{
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
}

.delete-video-button { float: right; }
.customer-video-like-button { float: left; }

.customer-album-picture-block .delete-picture-button {
    position: relative;
    top: 10px;
    left: -5px;
    float: right;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
}



.customer-album-picture-block .delete-picture-button:hover {
    font-weight: bold;
}


.customer-video-tool-strip {
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    text-align: center;
    vertical-align: middle;
}


.add-video-dialog {
    width: 400px;
}

.customer-video-likes {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    float: right;
}

.like-button
{
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    width: 97px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    
}




.customer-album-picture-block .delete-picture-button {
    position: relative;
    top: 10px;
    left: -5px;
    float: right;
    display: inline-block;
    font-size: 1em;
}


.featured-video-item {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

/*** END CUSTOMER ALBUM/PICTURE BLOCK ***/



/*** BEGIN DIALOG STYLES ***/
.dialog-confirm {
    text-align: left;
}

.dialog-modal {
    text-align: left;
}

.ui-dialog-title, .ui-dialog-content {
    text-align: left;
}

/*** END DIALOG STYLES ***/






/*** EVENT PAGE STYLES ***/
.hotel-information-block .title {
    font-weight: bold;
    margin-bottom: 7px;
    display:inline-block;
}

.event-center-content {
    margin-top: -5px;
}

.event-center-content h1 {
    font-size: 14pt;
    margin-bottom: 10px;
}

.event-picture {
    margin-bottom: 5px;
}


.event-page-attendance-block {
    width: 200px;
    margin-bottom: 10px;
}

.event-page-attendance .title {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}


#inviteFriendsDialog .friend-block {
    display: inline-block;
    min-width: 75px;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}
/*** END EVENT PAGE STYLES ***/


/*** RESPONSIVE TABS ***/
.resp-tab-content {
    min-height: 100px;
}
/*** END RESPONSIVE TABS ***/
