.clear, .clearfix{
    clear:both;
}
.profile-page .page-body {
    margin-top: 10px;
}

.profile-left {
    display: inline-block;
    max-width: 205px;
    vertical-align: top;
}

.profile-center-content {
    padding-top: 1px;
    display: inline-block;
    vertical-align: top;
    /*width: 545px; <-three column layout width*/
    width: 697px;
    margin: 0;
    padding: 0;
}

.profile-center-content > h2 {
    font-size: 16pt;
    color: rgb(58, 64, 69);
    text-transform: capitalize;
}



.profile-right {
    display: inline-block;
    width: 175px;
    min-height: 500px;
    vertical-align: top;
    /* border: 1px solid #cccccc; */
    text-align: center;
}

.send-pm-box {
    height: auto;
    vertical-align: middle;
    padding: 3px;
}

    .send-pm-box span { 
        display: inline-block;
        vertical-align: middle;
    }

    .send-pm-box .pm-link-button {
        line-height: 14px;
        padding: 1px 9px 2px 20px;
        margin-left: 1px;
    }


.friend-button {
    padding: 2px 6px 0px 0px;
    vertical-align: middle;
}







.confirm-friend-button:hover, .add-friend-button:hover {
    cursor: pointer;
}

.confirm-friend-button {
    vertical-align: middle;    
}
 


.hide {
    display: none;
}



.customer-friends-container {
    width: 717px;
}

.customer-friends-friend-block {
    width: 100px;
    padding: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.customer-friend-request-block {
    width: 100px;
    padding: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.ui-tabs .ui-tabs-panel {
    border-left: 1px solid #aaaaaa !important;
    border-right: 1px solid #aaaaaa !important;
    min-height: 500px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.avatar {
    margin-bottom: 3px;
}




/*** TEAM PAGE ***/
.team-description { }

.team-picture { border: none;display: none; }
.team-container { width: 100%; }
.team-container h1 { font-size: 3em; margin-bottom: 10px; }


.team-member-picture {
    width: 155px;
    display: inline-block;
    margin: 0 10px 10px 5px;
    text-align: left;
    vertical-align: bottom;
    background-color: black;
    height: 170px;
    color: #f3f3f3;
    position: relative;
}

    .team-member-picture img {
        width: 100%;
        /* height: 100%; */
        max-height: 170px;
    }





.team-member-name {
    font-size: 1.2em;
    /* font-weight: bold; */
    text-transform: capitalize;
    vertical-align: top;
    position: absolute;
    top: 140px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 155px;
    padding: 2px;
    text-align: center;
    line-height: 29px;
    height: 29px;
}

    .team-member-name span {
        padding-left: 4px;
        display: inline-block;
    }

.team-member-title { font-size: 1.1em;font-weight: bold;}


.group-container { width: 100%; }
.group-container h2 {
    margin-bottom: 15px !important;
    display: block;
}


.team-group-description { font-size: 1.1em;margin-bottom: 30px; }

.group-members-container { padding-left: 30px; }

/*** END TEAM PAGE ***/




/*** CUSTOMER FRIEND BLOCK ***/
.info-friend-block-container {
        width: 210px;
    }

    .info-friend-block-picture {
        width: 51px;
        padding: 0px;
        display: inline-block;
    }

    .view-all-friends-link {
        cursor: pointer;
    }

    .no-friends-message { }

    .customer-friend-block-no-friends-container {
        margin-left: 3px;
        margin-top: 5px;
    }

/*** END CUSTOMER FRIEND BLOCK ***/


/*** BEGIN CUSTOMER ALBUM/PICTURE BLOCK ***/
.customer-album-container {
    width: 655px;
}

.customer-album-picture-block {
    width: 325px;
    display: inline-block;
    padding: 0 0 5px 0;
}

.customer-album-description {
    font-weight: normal;
    font-size: 1.1em;
}

.customer-video-block {
    display: inline-block;
}








.customer-album-container .add-picture-button,
.customer-album-container .add-video-button,
.customer-video-like-button,
.delete-video-button
{
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
}

.delete-video-button { float: right; }
.customer-video-like-button { float: left; }

.customer-album-picture-block .delete-picture-button {
    position: relative;
    top: 10px;
    left: -5px;
    float: right;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
}



.customer-album-picture-block .delete-picture-button:hover {
    font-weight: bold;
}


.customer-video-tool-strip {
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    text-align: center;
    vertical-align: middle;
}


.add-video-dialog {
    width: 400px;
}

.customer-video-likes {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    float: right;
}

.like-button
{
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    width: 97px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    
}




.customer-album-picture-block .delete-picture-button {
    position: relative;
    top: 10px;
    left: -5px;
    float: right;
    display: inline-block;
    font-size: 1em;
}


.featured-video-item {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

/*** END CUSTOMER ALBUM/PICTURE BLOCK ***/



/*** BEGIN DIALOG STYLES ***/

.ui-dialog { border: 1px solid #cccccc; }

.dialog-confirm {
    text-align: left;
}

.dialog-modal {
    text-align: left;
}

.ui-dialog-title, .ui-dialog-content {
    text-align: left;
}

/*** END DIALOG STYLES ***/






/*** EVENT PAGE STYLES ***/
.hotel-information-block .title {
    font-weight: bold;
    margin-bottom: 7px;
    display:inline-block;
}


.event-center-content h1 {
    font-size: 14pt;
    margin-bottom: 10px;
}

.event-picture {
    margin-bottom: 5px;
}


.event-page-attendance-block {
    width: 200px;
    margin-bottom: 10px;
}

.event-page-attendance .title {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}


#inviteFriendsDialog .friend-block {
    display: inline-block;
    min-width: 75px;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
}
/*** END EVENT PAGE STYLES ***/


/*** SEARCH PAGE STYLES ***/

.search-result-item {
    
    width: 100%;
    display: inline-block;
    min-height: 50px;
    border: 1px solid rgb(230, 230, 230);
    background-color: none;
    
}

.search-result-item :hover {
	background-color: rgb(242, 242, 242);
	cursor: pointer;
}


    .search-result-item .right {
        display: inline-block;
    }

    .search-result-item .left {
        vertical-align: top;
        display: inline-block;
    }

        .search-result-item .left .thumbnail {
			vertical-align: top;
            min-width: 50px;
            min-height: 50px;
        }

        .search-result-item .right .title {
            font-size: 1.1em;
        }

        .search-result-item .right .subtitle {
            color: #999;
        }


.search-criteria-header {
    margin-top: 12px;
    display: inline-block;
    font-weight: bold;
}

.search-results-header {
    font-weight: bold;

}

.search-criteria
{

}


.search-criteria td
{
    padding-top: 5px;
}

.search-criteria .state-input {
    width:198px;
}


.search-criteria .country-input {
    width:198px;
}

.search-results-header {
    font-weight: bold;
}


/*** END SEARCH PAGE STYLES ***/

/*** ARTIST PAGE STYLES ***/
p.artist-spec-item
{
    padding:10px 0;
}
p.artist-spec-item label{
    color:gray;
    padding-right:15px;
}

.text-center
{
    text-align:center;
}
h1.text-center, h2.text-center
{
    padding:10px 0;
}
.artist-block
{
    float:left;
    width:200px;
    text-align:center;
    min-height:200px;
    margin:5px;
}

.artist-block .artist-image{
    display:block;
    width:200px;
    height:200px;
}
.artist-block .artist-image img
{
    width:100%;
    height:100%;
}
.artist-block .artist-title
{

}

.artist-row
{
    margin:10px 0;
    width:100%;
    clear:both;
    overflow:hidden;
}
.artist-row .artist-image
{
    float:left;
    width:100px;
    margin-right:20px;
}
.artist-row .artist-image img
{
    max-width:100%;
}
.artist-row .artist-title
{
    float:left;
    width:500px;
}
.artist-row .artist-title .artist-name
{
    font-size:20px;
}

.control-group input, .control-group select, .control-group textarea{
    padding:5px;
    width:300px;
}
.control-group textarea
{
    width:300px;
    height:100px;
}
table.table-form .control-group{
    padding:5px 0;
}

.song-block
{
    float:left;
    width:190px;
    padding:5px;
}
.song-block.playing
{
    background-color:#eee;
}
.song-block .song-image
{
    float:left;
    width:70px;
    height:70px;

}
.song-block .song-image img
{
    width:100%;
    height:100%;

}
.song-block .song-title
{
    float:left;
    width:110px;
    padding-left:10px;
}
.song-block .song-title .song-name
{
    font-size:13px;
    font-weight:bold;
    display:block;
}
.song-page-action-links
{
    border-top:solid 1px #ccc;
    padding:10px 0;
    margin:5px 0;
    text-align:center;
    font-size:15px;
}
.song-page-action-links a, .song-page-action-links a:hover{
    cursor:pointer;
    text-decoration:none;
    margin:0 5px;
}
.selected-receiver {
  background-color: #eee;
  float: left;
  padding: 3px;
  border-radius: 2px;
  margin: 3px;
}

.manager-block
{
    text-align:center;
    float:left;
    margin:10px;
}
.manager-block .manager-title
{
    font-size:15px;
}
.manager-block .manager-image{

}
.manager-block .manager-image img
{
    width:100px;
    height:100px;
}
.manager-block .actions
{
    font-size:10px;
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; 
}
 .editable-click {
        color: black;
        border-bottom: none;
    }

 .artist-left-content{
     float:left;
     width:200px;

 }
 .artist-right-content{
     float:left;
     width:700px;
     margin-left:10px;
 }
 .message-text{
       clear: both;
  background-color: #eee;
  padding: 10px;
 }
@media screen and (max-width:480px) {
    .artist-left-content{
     clear:both;
     

 }
 .artist-right-content{
     float:left;
     width:100%;
     margin-left:0;
 }

}
/***END ARTIST PAGE STYLES*/

/*** OVERRIDE NOPCOMMERCE STYLES ***/
/*Fix Overflows*/
.master-wrapper-main .center-3 { overflow:visible; }
/*** END OVERRIDE NOPCOMMERCE STYLES ***/


/*** RESPONSIVE TABS ***/



.resp-tab-content {
    min-height: 450px;
}



/*** END RESPONSIVE TABS ***/

/** MOBSOCIAL SONG LIST WIDGET */
.song-play-button { line-height:25px; list-style:none; }
.song-item { line-height:25px; width:200px; list-style:none; margin-bottom:3px; }
.song-title { display:inline-block; width:100px; }
.song-buy-button { cursor:pointer; }
/** END MOBSOCIAL SONG LIST WIDGET */


/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/
@media screen and (max-width:480px){
    /* MASTER PAGE WRAPPERS */
    .master-wrapper-main .leftside-3 {display:block; float: left; margin-left: 5px;}
    .master-wrapper-main .rightside-3 { display: block; float: left; margin-left: 5px; text-align: center; width: 100%; }
    
    input[type="text"].search-box-text { width: 55.4%; font-size: 1.5em; }
    .search-box-border { width: 100%; }
    .block-category-navigation { display: none; }
    .block-manufacturer-navigation { display: none; }
    .block-popular-tags { display: none; }
    .block-newsletter .title { text-align: center; }

    /* Categories on Home Page */

    #searchTypeDropDown {
        float: left;
    }
    
    .home-page-category-grid .category-item { width: 130px; }

    /* Featured Products on Home Page */
    .home-page-product-grid .title { margin: 0px;  }
    .product-grid { padding-left: 5px; }
    .product-grid .product-item { width: 130px; margin-right: 10px; }
    .product-grid .item-box { float: left !important; }
    .product-grid .product-item .picture img { margin: 5px 0px; }
  
    /* Event Pages */
    .event-page-attendance-block { width: 100%; }

    
    /* Profile Pages */
    .profile-center-content { width: 98%; }

}
