<form role="form" name="formUserEditor" class="form-horizontal" ng-init="getApplication()" ng-controller="applicationController">
    <fieldset block-ui>
        <div class="box box-primary">
            <div class="box-header text-center">
                <h1 class="box-title">
                    Application Editor
                </h1>
            </div>
            <div class="box-body">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basic-settings" data-toggle="tab" target="_self">Basic Details</a></li>
                        <li ng-if="application.Id > 0"><a href="#settings" data-toggle="tab" target="_self">Settings</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic-settings">
                            <span ng-bind-html="_Notifications('post_application') "></span>
                            <div class="form-group">
                                <label for="applicationName" class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="applicationName" ng-model="application.Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-md-3 control-label">Description</label>
                                <div class="col-md-9">
                                    <textarea type="text" class="form-control" id="description" placeholder="Description" ng-model="application.Description"></textarea>
                                </div>
                            </div>
                            <div id="client-info" ng-if="application.Id > 0">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Client Id</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="readonly" ng-model="application.ClientId" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Client Secret</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="readonly" ng-model="application.ClientSecret" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="applicationUrl" class="col-md-3 control-label">Application Url</label>
                                <div class="col-md-9">
                                    <input type="text" id="applicationUrl" ng-model="application.ApplicationUrl" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="redirectionUrl" class="col-md-3 control-label">Redirect Url</label>
                                <div class="col-md-9">
                                    <input type="text" id="redirectionUrl" ng-model="application.RedirectUrl" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="privacyPolicyUrl" class="col-md-3 control-label">Privacy Policy Page Url</label>
                                <div class="col-md-9">
                                    <input type="text" id="privacyPolicyUrl" ng-model="application.PrivacyPolicyUrl" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="termsUrl" class="col-md-3 control-label">Terms & Conditions Page Url</label>
                                <div class="col-md-9">
                                    <input type="text" id="termsUrl" ng-model="application.TermsUrl" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="applicationType" class="col-md-3 control-label">Application Type</label>
                                <div class="col-md-9">
                                    <select class="form-control" id="applicationType" ng-model="application.ApplicationType">
                                        <option ng-repeat="e in availableApplicationTypes" value="{{e.Id}}" ng-selected="{{ e.Id == application.ApplicationType}}">{{e.Text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="allowedOrigins" class="col-md-3 control-label">Allowed Origins</label>
                                <div class="col-md-9">
                                    <input type="text" id="allowedOrigins" ng-model="application.AllowedOrigin" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="active" class="col-md-3 control-label">Active</label>
                                <div class="col-md-9">
                                    <input type="checkbox" id="active" ng-model="application.Active">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                                    <a class="btn btn-default" ui-sref="layoutApplication.twoColumns.listApplications">Cancel</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" ng-if="application.Id > 0" id="settings">
                            <h4>Delete Application</h4>
                            <div class="alert alert-danger">
                                <h4>
                                    <i class="icon fa fa-warning"></i> Warning
                                </h4> Deleting the application will remove all the related data. The process can not be undone.
                            </div>
                            <label>
                                <input type="checkbox" ng-model="confirmDelete" /> I would like to delete this application.
                            </label>
                            <div class="text-center">
                                <button class="btn btn-danger" ng-show="confirmDelete" ng-click="delete()">Delete application and all the associated data</button>

                            </div>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>



            </div>
        </div>
    </fieldset>
</form>