<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title">
            Security Settings
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formSettingEditor" class="form-horizontal">
            <fieldset  block-ui>
                <div class="box-body">
                    <span ng-bind-html="_Notifications('post_setting') "></span>                   
                    <div class="form-group">
                        <label for="DefaultPasswordStorageFormat" class="col-md-3 control-label">Default Password Storage Format</label>
                        <div class="col-md-8">
                            <select id="DefaultPasswordStorageFormat" class="form-control" ng-model="setting.DefaultPasswordStorageFormat" ng-required>
                                <option ng-selected="{{setting.DefaultPasswordStorageFormat == format.Value}}" ng-repeat="format in setting.AvailablePasswordStorageFormats" ng-value="format.Value">{{format.DisplayText}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
