<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title">
            Page Url Settings
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formSettingEditor" class="form-horizontal">
            <fieldset  block-ui>
                <div class="box-body">
                    <span ng-bind-html="_Notifications('post_setting') "></span>                   
                    <div class="form-group">
                        <label for="activationPageUrl" class="col-md-2 control-label">Activation Page Url</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="activationPageUrl" placeholder="www.yoursite.com/activate" ng-model="setting.ActivationPageUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
