<div class="box">
    <div class="box-header with-border">
        <h1 class="box-title">
            User Settings
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formSettingEditor" class="form-horizontal">
            <fieldset  block-ui>
                <div class="box-body">
                    <span ng-bind-html="_Notifications('post_setting') "></span>
                    <div class="form-group">
                        <label for="AreUserNamesEnabled" class="col-md-2 control-label">Enable Usernames</label>
                        <div class="col-md-10">
                            <input type="checkbox" id="AreUserNamesEnabled" ng-model="setting.AreUserNamesEnabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="UserRegistrationDefaultMode" class="col-md-2 control-label">Default Registration Mode</label>
                        <div class="col-md-10">
                            <select id="UserRegistrationDefaultMode" class="form-control" ng-model="setting.UserRegistrationDefaultMode" ng-required>
                                <option ng-selected="{{setting.UserRegistrationDefaultMode == mode.Value}}" ng-repeat="mode in setting.AvailableUserRegistrationModes" ng-value="mode.Value">{{mode.DisplayText}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
