<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>mob</b>Social</a>
    </div>
    <!-- /.register-logo -->
    <div class="register-box-body" block-ui>
        <p class="register-box-msg" ng-if="!registered">Create new account!</p>
        <span ng-bind-html="_Notifications('register')"></span>
        <form action="" method="post" ng-if="!registered">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="First Name" ng-model="dataModel.firstName">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="dataModel.lastName">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" ng-model="dataModel.email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" ng-model="dataModel.password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Retype password" ng-model="dataModel.confirmPassword">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox">
                            <input icheck type="checkbox" ng-model="dataModel.agreement" /> I {{!dataModel.agreement ? "don't" : "" }} agree to the <a href="">terms</a>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="register()">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </fieldset>

        </form>
        <!-- /.social-auth-links -->
        Already registered? <a ui-sref="layoutZero.login" class="text-center">Login</a>
    </div>
    <!-- /.register-box-body -->
</div>
<!-- /.register-box -->