<div class="box" ng-init="getEmailAccount()">
    <div class="box-header with-border">
        <h1 class="box-title">
            Email Account Editor <small><a  ui-sref="layoutAdministration.emails.accountlist" ui-sref-opts="{reload: true}"> <i class="fa fa fa-arrow-circle-left"></i> back to email accounts</a></small>
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formEditor" class="form-horizontal">
            <fieldset block-ui>
                <div class="box-body">
                    <span ng-if="emailAccount.Id == 0" ng-bind-html="_Notifications('post_emailaccount') "></span>
                    <span ng-if="emailAccount.Id != 0" ng-bind-html="_Notifications('put_emailaccount') "></span>
                    <div class="form-group">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="email" placeholder="" ng-model="emailAccount.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fromName" class="col-md-2 control-label">From Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="fromName" placeholder="" ng-model="emailAccount.FromName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="host" class="col-md-2 control-label">SMTP Host</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="host" placeholder="smtp.mailprovider.com" ng-model="emailAccount.Host">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="port" class="col-md-2 control-label">Port</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" id="port" placeholder="" ng-model="emailAccount.Port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usessl" class="col-md-2 control-label">Use SSL</label>
                        <div class="col-md-10">
                            <input icheck type="checkbox" id="usessl" ng-model="emailAccount.UseSsl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usedefaultcredentials" class="col-md-2 control-label">Use Default Credentials</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                <input icheck type="checkbox" id="usedefaultcredentials" ng-model="emailAccount.UseDefaultCredentials">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">User Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="username" placeholder="" ng-model="emailAccount.UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" placeholder="{{emailAccount.Id > 0 ? 'Leave empty to keep the password unchanged' : ''}}" id="password" ng-model="emailAccount.Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="testemail" class="col-md-2 control-label">Send Test Email</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="testemail" placeholder="" ng-model="emailAccount.TestEmail">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat" ng-click="sendTestEmail()">Send</button>
                                </span>
                            </div>
                            <span ng-bind-html="_Notifications('send_email') "></span>
                            <span ng-bind-html="_Notifications('post_emailaccount') "></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                            <button type="button" class="btn btn-default" ui-sref="layoutAdministration.emails.accountlist">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
