<div class="box" ng-init="getEmailTemplate()">
    <div class="box-header with-border">
        <h1 class="box-title">
            Email Template Editor <small><a  ui-sref="layoutAdministration.emails.templatelist" ui-sref-opts="{reload: true}"> <i class="fa fa fa-arrow-circle-left"></i> back to email templates</a></small>
        </h1>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formEditor" class="form-horizontal">
            <fieldset block-ui>
                <div class="box-body">
                    <span ng-bind-html="_Notifications('post_emailtemplate') "></span>
                    <span ng-bind-html="_Notifications('put_emailtemplate') "></span>
                    <div class="form-group">
                        <label for="templateName" class="col-md-2 control-label">Template Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="templateName" placeholder="" ng-model="emailTemplate.TemplateName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="systemName" class="col-md-2 control-label">Template System Name</label>
                        <div class="col-md-10">
                            <input type="text" ng-readonly="emailTemplate.Id > 0" class="form-control" id="systemName" placeholder="" ng-model="emailTemplate.TemplateSystemName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-md-2 control-label">Subject</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="subject" ng-model="emailTemplate.Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="template" class="col-md-2 control-label">Template</label>
                        <div class="col-md-10">
                            <textarea wyswyg id="template" ng-model="emailTemplate.Template"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isMaster" class="col-md-2 control-label">Is Master</label>
                        <div class="col-md-10">
                            <input icheck type="checkbox" id="isMaster" ng-model="emailTemplate.IsMaster">
                        </div>
                    </div>
                    <div class="form-group" ng-if="emailTemplate.AvailableMasterTemplates && emailTemplate.AvailableMasterTemplates.length > 0">
                        <label for="parentEmailTemplateId" class="col-md-2 control-label">Master Template</label>
                        <div class="col-md-10">
                            <select id="parentEmailTemplateId" name="ParentEmailTemplateId" ng-model="emailTemplate.ParentEmailTemplateId" class="form-control">
                                <option ng-repeat="s in emailTemplate.AvailableMasterTemplates track by s.Id" ng-value="s.Id" ng-selected="{{ s.Id == emailTemplate.ParentEmailTemplateId }}">{{s.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAccountId" class="col-md-2 control-label">Email Account</label>
                        <div class="col-md-10">
                            <select id="emailAccountId" name="emailAccountId" ng-model="emailTemplate.EmailAccountId" class="form-control">
                                <option ng-repeat="s in emailTemplate.AvailableEmailAccounts track by s.Id" ng-value="s.Id" ng-selected="{{ s.Id == emailTemplate.EmailAccountId }}">{{s.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                            <button type="button" class="btn btn-default" ui-sref="layoutAdministration.emails.templatelist">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
