<div class="box" ng-init="getEmailAccounts()">
    <div class="box-header with-border">
        <h1 class="box-title">
            Email Accounts
        </h1>
        <div class="pull-right">
            <a ui-sref="layoutAdministration.emails.accountedit({ id:0 })" class="btn btn-primary"><i class="fa fa-plus"></i> Add Email Account</a>
        </div>
    </div>
    <div class="box-body no-padding">
        <form role="form" name="formSettingEditor" class="form-horizontal">
            <fieldset block-ui>
                <div class="box-body no-padding">
                    
                    <table class="table">
                        <tr>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        <tr ng-if="emailAccounts && emailAccounts.length == 0">
                            <td colspan="2">
                                <div>
                                    You don't have any email accounts
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="emailAccount in emailAccounts">
                            <td>
                                <strong class="margin-r-5">{{emailAccount.Email}}</strong>
                            </td>
                            <td>
                                <a class="btn btn-default btn-sm pull-right"  ui-sref="layoutAdministration.emails.accountedit({ id:emailAccount.Id })">Edit</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>

        </form>
    </div>
</div>