a.logo {
    background: url("../images/logo.png") repeat scroll 0px 0px transparent;
    display: block;
    height: 75px;
    text-decoration: none;
    width: 315px;
}

li a:hover {
    text-decoration: underline;    
}