a.logo {
    background: url("../images/logo.gif") repeat scroll 0px 0px transparent;
    display: block;
    height: 62px;
    text-decoration: none;
    width: 303px;
}

li a:hover {
    text-decoration: underline;    
}
