a.logo {
    background: url("../images/logo.png") repeat scroll -10px 0px transparent;
    display: block;
    height: 70px;
    text-decoration: none;
    width: 312px;
}

li a:hover {
    text-decoration: underline;    
}
