<span ng-switch on="LikeStatus">
    <span ng-switch-when="0">
        <a ng-click="Like()">
           <i class="fa fa-thumbs-up"></i> Like ({{TotalLikes}})
        </a>
    </span>
    <span ng-switch-when="1">
        <a ng-click="Unlike()">
            <i class="fa fa-thumbs-up"></i> Unlike ({{TotalLikes}})
        </a>
    </span>
</span>