<div class="row media-list" ng-controller="mediaController" ng-init="getMedia(null, 'videos')">
    <div class="col-md-3 col-sm-6 col-xs-12 media-item" ng-repeat="media in mediaItems">
        <a media-button target="#video-modal" media="media">
            <img ng-src="{{media.ThumbnailUrl}}" />
        </a>
        <span class="action">
            <i class="fa fa-play"></i>
        </span>
    </div>
    <media-modal id="video-modal"></media-modal>
    <div ng-if="mediaItems && mediaItems.length == 0">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                No visible videos found
            </div>
        </div>
    </div>
</div>