@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/ExternalAuth.MobSocial/Content/mobsocialstyles.css");    
}
<div class="mobSocial-login-block">
    <div class="buttons">
        <a href="@Url.RouteUrl("Plugin.ExternalAuth.MobSocial.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="mobSocial-btn"></a>
    </div>
</div>