<div class="box box-primary" ng-controller="customFieldController" ng-init="getCustomFields()">
    <div class="box-header with-border">
        <h1 class="box-title">
            Custom Fields
        </h1>
        <a class="btn btn-primary btn-sm pull-right" ng-click="edit()" ng-if="!customField">Create New Field</a>
    </div>
    <div class="box-body no-padding">
        <fieldset block-ui ng-if="!customField">
            <table class="table table-hover grid">
                <tbody>
                    <tr ng-if="customFields && customFields.length == 0">
                        <td colspan="2">
                            <div>
                                {{"You don't have any custom fields"}}
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="customField in customFields">
                        <td>
                            <a ng-click="edit(customField)">{{customField.Label}}</a>
                            <small class="text-muted text-capitalize text-bold">({{getFieldTypeName(customField.FieldType)}})</small>
                            <a class="btn btn-danger btn-sm pull-right" ng-click="deleteField(customField)">Delete</a>
                            <a class="btn btn-primary btn-sm pull-right margin-r-5" ng-click="edit(customField)">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <article class="editor" ng-if="customField" block-ui>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <form role="form" name="formEditor" class="form-horizontal">
                                <custom-field-editor customfield="customField" entityname="entityData.entityName" oncancel="cancelEdit()" onsave="save()"></custom-field-editor>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </fieldset>

    </div>
</div>
