@using Nop.Web.Models.Customer
@using Nop.Plugin.Widgets.MobSocial.Models

@model Nop.Plugin.Widgets.MobSocial.Models.SocialNetworkNavigationModel           

@*IE6 hack here. maybe move to a stylesheet file with IE6 hacks?*@
<!--[if lt IE 7]>
<STYLE type="text/css">
   .block-account-navigation a{white-space:normal!important;}
 </STYLE>
<![endif]-->
<div class="block block-account-navigation">
    <div class="title">
        <strong>Social Network</strong>
    </div>
    <div class="clear">
    </div>
    <div class="listbox">
        <ul>
            
            <li><a href="@Url.RouteUrl("CustomerAvatar")" class="@if (Model.NavigationModel.SelectedTab == CustomerNavigationEnum.Avatar)
                                                                     {<text>active</text>}
                                                                     else
                                                                 {<text>inactive</text>}">@T("Account.Avatar")</a></li> 


           <li><a href="@Url.Action("FriendRequests", "MobSocial", new { navigationModel = Model.NavigationModel } )" class="@if (Model.SelectedTab == SocialNetworkNavigationEnum.FriendRequests)
                                                                   {<text>active</text>}
                                                                   else
                                                                   {<text>inactive</text>}">@Model.FriendRequestsLinkText</a></li>
           
        </ul>
    </div>
</div>
