<div class="artist-block">
  
    <div class="artist-title" ng-if="!artist.RemoteArtist">
        <a href="/{{artist.SeName}}">
            <div class="artist-image">
                <img ng-src="{{artist.ImageUrl}}" />
            </div>
            <div>{{artist.Name}}</div>            
        </a>
    </div>
    <div class="artist-title" ng-if="artist.RemoteArtist">
        <a href="/remote-artist/{{artist.SeName}}">
            <div class="artist-image">
                <img ng-src="{{artist.ImageUrl}}" />
            </div>
            <div>{{artist.Name}}</div>
        </a>
    </div>
</div>