@model ArtistPageModel
@using Nop.Plugin.WebApi.MobSocial.Constants
@using Nop.Plugin.WebApi.MobSocial.Models;
@{
    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppColumnsOne.cshtml";

    /*   Html.AppendTitleParts(Model.Name);

       Html.AppendMetaDescriptionParts(Model.MetaDescription);
       Html.AppendMetaKeywordParts(Model.MetaKeywords);*/

    Html.AddScriptParts(ResourceLocation.Foot, MobSocialConstant.PluginContentPathInternal + "/js/controllers/artist-pages/artist-pages.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

}
<div data-ng-controller="ArtistPageController">
    <div ng-show="recordSaved" class="text-center">
        Page created successfully. Please wait while your are being redirected to the page...
    </div>
    <form name="createArtistForm" ng-show="!recordSaved">
        <div class="fieldset">
            <div class="title">
                <strong>Create Artist Page</strong>
            </div>
            <div class="form-fields">
                <div class="inputs">
                    <label class="control-label" for="name">Artist Name <span class="required">*</span></label>
                    <input type="text" name="name" id="name" data-ng-model="artist.Name" data-ng-blur="IsArtistNameAvailable()" required/>
                    <span ng-show="createArtistForm.name.$invalid && createArtistForm.name.$touched">Name is required</span>
                    <span ng-show="createArtistForm.name.$valid">
                        <span ng-show="artist.nameAvailable && createArtistForm.name.$valid"><i class="fa fa-check"></i> Artist Name Available</span>
                        <span ng-show="!artist.nameAvailable || !createArtistForm.name.$valid"><i class="fa fa-times"></i> Not Available</span>
                    </span>
                    
                </div>
                <div class="inputs" ng-show="artist.ImageUrl != null && artist.ImageUrl != ''">
                    <label class="control-label" for="description">Image</label>
                    <img ng-src="{{artist.ImageUrl}}" style="max-width: 200px"/>
                </div>
                <div class="inputs">
                    <label class="control-label" for="description">Biography</label>
                    <textarea name="description" id="description" data-ng-model="artist.Description"></textarea>
                </div>
                <div class="inputs">
                    <label class="control-label" for="shortdescription">Short Description</label>
                    <textarea name="shortdescription" id="shortdescription" data-ng-model="artist.ShortDescription"></textarea>
                </div>
                <div class="inputs">
                    <label class="control-label" for="dob">Date Of Birth</label>
                    <datetimepicker current-date="artist.DateOfBirth" include-time="1" max-date="@(DateTime.UtcNow.ToString())"></datetimepicker>
                </div>
                <div class="inputs">
                    <label class="control-label" for="hometown">Home Town</label>
                    <input type="text" name="HomeTown" id="hometown" data-ng-model="artist.HomeTown"/>
                </div>
                <div class="inputs">
                    <label class="control-label" for="active_since">Active Since</label>
                    <input type="text" name="ActiveSince" id="active_since" data-ng-model="artist.ActiveSince"/>
                </div>
                <input type="hidden" name="RemoteEntityId" data-ng-model="artist.RemoteEntityId"/>
                <input type="hidden" name="RemoteEntityName" data-ng-model="artist.RemoteEntityName"/>
                
            </div>
        </div>
        <div class="buttons">
            <input class="c2a-maroon" type="button" ng-click="SaveArtist()" value="Create Page" />
        </div>

    </form>


</div>
