@using Nop.Plugin.Widgets.MobSocial.Models;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPath + "/angular-file-upload-1.1.5/angular-file-upload.js");
    
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/artist-pages/artist-page-search.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/easyResponsiveTabs.js");
}
<div class="artist-left-content">
    <div data-ng-controller="ArtistPageSearchCriteriaController">
        <table class="table-form">
            <tr>
                <td>
                    <h2>Music Search</h2>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    Search:<br />
                    <select data-ng-model="searchType" ng-options="type for type in searchTypes track by type"></select><br/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    Search Term: <input data-ng-model="term" type="text" required /><br/>
                    <input type="hidden" data-ng-model="page" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" data-ng-model="searchDescription" /> Search Descriptions
                    <br />
                    
                </td>
            </tr>
            <tr ng-show="searchType == 'Songs'">
                <td>
                    <input type="checkbox" data-ng-model="searchArtists" /> Restrict to Artist
                    <br />
                    <div ng-show="searchArtists">
                        Artist: <input type="text" data-ng-model="artistName" />
                    </div>
                    <br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    Results per page: <select data-ng-model="count" ng-options="val for val in [15, 30, 50]"></select>
                </td>
            </tr>
        </table>
        <table class="table-form">
            <tr>
                <td>
                    <a href="@Url.RouteUrl("ArtistsPage", new { action = "MyArtistPages" })"><i class="fa fa-music"></i> Sell Music</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="artist-right-content">
    <div data-ng-controller="ArtistPageSearchController">
        <div ng-show="searching">Searching for '{{term}}'</div>
        <div ng-show="!searching && results.length == 0">Nothing found for '{{term}}' with selected filters. Please try again by changing the filters.</div>
        <div ng-if="searchType == 'Artists'">
            <h1 ng-if="results.length > 0">Showing artists for '{{term}}'</h1>
            <div data-ng-repeat="artist in results">
                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/ArtistPage/ArtistBlock.cshtml")
            </div>
        </div>
        <div ng-if="searchType == 'Songs'">
            
            <h1 ng-if="results.length > 0">Showing songs for '{{term}}'</h1>
            <div data-ng-repeat="song in results">
                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/SongPage/SongBlock.cshtml")
            </div>
        </div>

    </div>
</div>
