@using Nop.Plugin.WebApi.MobSocial.Enums
<span ng-switch on="FriendStatus">
    <span ng-switch-when="@((int) FriendStatus.None)">
        <a class="button-primary button" ng-click="UpdateFriendship('add')">
            Add Friend
        </a>
    </span>
    <span ng-switch-when="@((int) FriendStatus.FriendRequestSent)">
        <a class="button-primary button" ng-click="UpdateFriendship('decline')">
            Cancel Friendship Request
        </a>
    </span>
    <span ng-switch-when="@((int) FriendStatus.Friends)">
        <a class="button-primary button" ng-click="UpdateFriendship('decline')">
            Cancel Friendship
        </a>
    </span>
    <span ng-switch-when="@((int) FriendStatus.NeedsConfirmed)">
        <a class="button-primary button" ng-click="UpdateFriendship('confirm')">
            Accept
        </a>
        <a class="button-primary button" ng-click="UpdateFriendship('decline')">
            Decline
        </a>
    </span>
</span>