@using Nop.Plugin.WebApi.MobSocial.Constants
@using Nop.Plugin.WebApi.MobSocial.Enums
@model Nop.Plugin.WebApi.MobSocial.Models.FriendSearchModel
@{

    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppColumnsTwo.cshtml";

    @Html.Partial("mobSocial/Friends/Includes")

    var json = Json.Encode(Model);
}
@section left{
    <form action="">
        <div>
            <h3>People Finder</h3>
            <p style="margin:5px 0">Type first name or last name and click on <b>Search</b></p>
            <input type="text" name="searchTerm" placeholder="Type a few search terms" value="@Model.SearchTerm" /><br />
            <input type="submit" style="margin:5px 0;display:block;" value="Search" />
        </div>
    </form>

}
<div ng-controller="FriendSearchController" ng-init="init(@json)">
    <div ng-repeat="P in People">
        @Html.Partial("mobSocial/Friends/FriendBlock")
    </div>
</div>