<div class="url-preview">
    <div class="image">
        <img ng-src="{{PostPreview.Images[0]}}"/>
    </div>
    <div class="url-data">
        <a href="{{PostPreview.AbsoluteUrl}}">{{PostPreview.Title}}</a>
        <div class="description">{{PostPreview.Description}}</div>
        <div class="host-name">{{PostPreview.HostName}}</div>
    </div>
</div>