<div ng-switch on="Post.PostTypeName">
    <div ng-switch-when="videobattle-publish">
        <div class="user-info">
            <a href="{{Post.OwnerProfileUrl}}" class="user-name">
                <img ng-src="{{Post.OwnerImageUrl}}"/>
                <span>
                    {{Post.OwnerName}}
                </span>
            </a>
            <span class="activity-text"> published a new <a href="{{Post.Url}}">battle</a></span>
            <span class="post-time">
                <time am-time-ago="Post.DateCreated"></time>
            </span>
        </div>
        <div class="post-content">
            <div ng-bind-html="Post.Message | linky:'_blank'"></div>
        </div>
    </div>
    <div ng-switch-when="videobattle-start">
        <div class="user-info">
            <span class="activity-text">The <a href="{{Post.Url}}">battle</a> has started</span>
        </div>
    </div>
    <div ng-switch-when="videobattle-complete">
        <div class="user-info">
            <span class="activity-text">The <a href="{{Post.Url}}">battle</a> has completed</span>
        </div>
    </div>
</div>

<div class="cover-image">
    <a href="{{Post.Url}}">
        <img ng-src="{{Post.CoverImageUrl}}" style="max-width: 100%" />
    </a>
</div>
<div class="linked-entity-details">
    <a href="{{Post.Url}}" class="title">
        {{Post.BattleName}}
    </a>
    <div class="description">
        {{Post.Description}}
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var $scope = attachFunctionToTimelineScope("setVideoBattleData", function (Post) {

            var jsonValue = Post.AdditionalAttributeValue;
            try {
                jsonValue = JSON.parse(jsonValue);
            } catch (e) {
                return;
            }
            Post.Url = jsonValue.Url;
            Post.BattleName = jsonValue.Name;
            Post.Description = jsonValue.Description;

            Post.CoverImageUrl = jsonValue.CoverImageUrl;
        });
        //add to filter function. this will execute when a picture type post is being shown
        $scope.FilterFunction['videobattle-publish'] = function (Post) {
            $scope.setVideoBattleData(Post);
        }
        $scope.FilterFunction['videobattle-complete'] = function (Post) {
            $scope.setVideoBattleData(Post);
        }
        $scope.FilterFunction['videobattle-start'] = function (Post) {
            $scope.setVideoBattleData(Post);
        }
    });
</script>