@model List<Nop.Plugin.Widgets.MobSocial.Models.TimelineWidgetModel>

@{
    Layout = null;
}
<div class="timeline-post-form">
    <div class="post-box">
        <textarea ng-model="PostData.Message" placeholder="What's on your mind"></textarea>
        <div class="post-preview-area">
            <div ng-show="ProcessingPreview" class="preview-loader">
                Please wait...
            </div>
            <div ng-switch on="PostData.PostTypeName">
                @foreach (var widget in Model)
                {
                    <div ng-switch-when="@widget.PostTypeName">
                        @Html.Action(widget.PostPreviewData.ActionName, widget.PostPreviewData.ControllerName, widget.PostPreviewData.RouteValues)
                    </div>
                }
            </div>
        </div>
        <button ng-if="PostData.AdditionalAttributeValue" ng-click="ClearPostFormExtraData()">Clear</button>
    </div>
    <div class="timeline-widgets" ng-if="!PostData.AdditionalAttributeValue && !ProcessingPreview">
        @foreach (var widget in Model)
        {
            if (widget.WidgetRouteData == null)
            {
                continue;
            }
            @Html.Action(widget.WidgetRouteData.ActionName, widget.WidgetRouteData.ControllerName, widget.WidgetRouteData.RouteValues)
        }
    </div>
    <button ng-click="PostToTimeline()">Post</button>
</div>