@model Nop.Plugin.Widgets.MobSocial.Models.TimelinePublicModel
@{

    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Timeline/Includes.cshtml")

    var json = Json.Encode(Model);
}
<!--Id mobSocialTimeline is important-->
<div class="timeline" id="mobSocialTimeline" ng-controller="TimelineController as controller" ng-init="init(@json)">
    @if (Model.CanPost)
    {
        <div class="post-form">
            @Html.Action("PostForm", "Timeline")
        </div>
    }


    <div class="timeline-posts">
        <div class="text-center" ng-if="TimelinePosts.length == 0">
            There are no recent posts to show
        </div>
        <div class="timeline-post" ng-repeat="Post in TimelinePosts">
            <div ng-switch on="Post.PostTypeName">
                @foreach (var widget in Model.TimelinePostViewModels)
                {
                    <div ng-switch-when="@widget.PostTypeName" class="post post-type-@widget.PostTypeName" ng-init="FilterFunction[Post.PostTypeName] ? FilterFunction[Post.PostTypeName](Post) : []">
                        
                        @Html.Action(widget.ActionName, widget.ControllerName, widget.RouteValues)
                        <a ng-if="Post.CanDelete" ng-click="DeletePost(Post.Id)" class="post-delete"><i class="fa fa-times"></i></a>
                        <div class="timeline-post-actions">
                            <like-button entityid="{{Post.Id}}" entityname="TimelinePost" likestatus="Post.LikeStatus" totallikes="{{Post.TotalLikes}}"></like-button>
                            <comments-box entityid="{{Post.Id}}" entityname="TimelinePost" canedit="{{Post.CanEdit}}" totalcomments="{{Post.TotalComments}}"></comments-box>
                            
                        </div>
                        
                    </div>
                }
                <div ng-switch-default>
                    <div class="post post-type-status" ng-init="FilterFunction[Post.PostTypeName] ? FilterFunction[Post.PostTypeName](Post) : []">
                        <div class="user-info">
                            <a href="{{Post.OwnerProfileUrl}}" class="user-name">
                                <img ng-src="{{Post.OwnerImageUrl}}" />
                                <span>
                                    {{Post.OwnerName}}
                                </span>
                            </a>
                            <span class="post-time">
                                <time am-time-ago="Post.DateCreated"></time>
                            </span>
                        </div>
                        <div class="post-content">
                            <div ng-bind-html="Post.Message | linky:'_blank'"></div>
                        </div>
                        <a ng-if="Post.CanDelete" ng-click="DeletePost(Post.Id)" class="post-delete"><i class="fa fa-times"></i></a>
                        <div class="timeline-post-actions">
                            <like-button entityid="{{Post.Id}}" entityname="TimelinePost" likestatus="Post.LikeStatus" totallikes="{{Post.TotalLikes}}"></like-button>
                            <comments-box entityid="{{Post.Id}}" entityname="TimelinePost" canedit="{{Post.CanEdit}}" totalcomments="{{Post.TotalComments}}" ></comments-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ng-click="GetTimelinePosts()" ng-hide="NoMorePosts" class="load-more">Load More</a>
    </div>
</div>