@{
    var videouploadUrl = "/api/timeline/uploadvideo";
}
<button file-upload-button
        id="btn-timeline-video-upload"
        fieldname="File"
        uploadtype="video"
        onsuccessitem="uploadVideoSuccess"
        url="@videouploadUrl">
    <i class="fa fa-upload"></i> Upload Video
</button>

<script type="text/javascript">
    $(document).ready(function () {
        var $scope = attachFunctionToTimelineScope("PlayerReady", function ($API) {
            $API.changeSource($scope.PostPreview.VideoSource);
            $API.sources = $scope.PostPreview.VideoSource;
        });

        //on video success
        attachFunctionToTimelineScope("uploadVideoSuccess", function (fileItem, response, status, headers) {
            if (response.Success) {
              
                //create a url based on the root 
                var rootUrl = window.location.origin;
              
                //we need $sce for videos
                var $sce = angular.element(document.getElementById("mobSocialTimeline")).injector().get('$sce');

                $scope.PostData.PostTypeName = "video";
                $scope.PostData.AdditionalAttributeValue = JSON.stringify(response);
                $scope.PostPreview = {
                    ThumbnailPath: rootUrl + response.ThumbnailUrl,
                    VideoSource: [{ src: $sce.trustAsResourceUrl(rootUrl + response.VideoUrl), type: response.MimeType }],
                    //config for video player

                    Config: {
                        theme: rootUrl + "/Plugins/Widgets.mobSocial/Content/Libraries/videogular/theme/videogular.css"
                    }
                };

                
            }
        });
    });
</script>