@model Nop.Plugin.Widgets.MobSocial.Models.InvitationPageModel
@using Nop.Plugin.WebApi.MobSocial.Constants
@{
    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppColumnsTwo.cshtml";

    @Html.Partial("mobSocial/Invitation/Includes")

}
<script>

    var fbLoggedIn = false;
    function loginToFacebookForPermissions() {
        if (fbLoggedIn) {
            getFacebookFriends();
            return;
        }
        FB.login(function (res) {

            if (res.status == "connected") {
                fbLoggedIn = true;
                getFacebookFriends();
            }
        },
        { scope: 'email,user_friends' });
    }

    function getFacebookFriends() {
        FB.ui({
            method: 'send',
            link: '@Model.ActionUrl'
        });
    }

    function shareOnGooglePlus() {
        window.open("https://plus.google.com/share?url=" + "@Model.ActionUrl", '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
    }
</script>

<div ng-controller="InvitationController">
    <div class="page">
        <h1 class="text-center">Invitation Center</h1>
        <div class="invite-section email">
            <h3>Invite by email</h3>
            <div class="text-center" ng-if="invited">
                Successfully invited selected emails.
            </div>
            <div class="email-list">
                <div ng-repeat="email in emails" class="email-chip">
                    {{email}} <a ng-click="removeFromInvites(email)" class="pull-right"><i class="fa fa-times"></i></a>
                </div>
                <form>
                    <input type="email" ng-model="email" placeholder="Type an email address"/>
                    <button type="submit" ng-click="addToInvites()"><i class="fa fa-plus"></i></button>
                </form>
                <div class="text-center">
                    <button ng-if="emails.length > 0" ng-click="invite()" class="invite-button">Invite</button>
                </div>
            </div>
        </div>
        <div class="or-separator">
            <span>OR</span>
        </div>
        <div class="invite-section facebook">
            <a onclick="loginToFacebookForPermissions()" class="facebook-button"><i class="fa fa-facebook"></i> Invite on Facebook</a>
        </div>
        <div class="or-separator">
            <span>OR</span>
        </div>
        <div class="invite-section google">
            <a onclick="shareOnGooglePlus()" class="google-button"><i class="fa fa-google-plus"></i> Invite on Google+</a>
        </div>
    </div>



</div>