@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Plugin.Widgets.MobSocial.Constants
@{
    var headerScripts = new List<string>()
    {
        
    };

    var footerScripts = new List<string>()
    {
        MobSocialConstant.PluginPath + "/app/scripts/bundles/essentials.bundle.js",
        MobSocialConstant.PluginPath + "/app/scripts/bundles/init.js",
        
    };

    var cssFiles = new List<string>()
    {
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",
        "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css",
        MobSocialConstant.PluginPath +"/app/libraries/bootstrap/css/bootstrap.min.css",
        MobSocialConstant.PluginPath +"/app/libraries/angucomplete-alt/angucomplete-alt.css",
        MobSocialConstant.PluginPath + "/app/styles/styles.min.css"
    };

    foreach (var cssFile in cssFiles)
    {
        if (cssFile.StartsWith("http"))
        {
            Html.AddCssFileParts(cssFile, excludeFromBundle: true);
        }
        else
        {
            Html.AddCssFileParts(cssFile);
        }
    }


    //append in reverse to render in correct order
    foreach (var t in headerScripts)
    {
        Html.AddScriptParts(ResourceLocation.Head, t);
    }
    for (var i = footerScripts.Count - 1; i > -1; i--)
    {
        Html.AddScriptParts(ResourceLocation.Footer, footerScripts[i]);
    }


    //var mobSettings = mobSocialEngine.ActiveEngine.Resolve<ThirdPartySettings>();
    var store = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;

    //Html.SetOpenGraphTags(store.Name, "", store.Url, "website", "");

}


<!--fb registration-->
<div id="fb-root"></div>
<script>
    var FBVERSION = "v2.7";
    window.fbAsyncInit = function () {
        FB.init({
            appId: '',
            xfbml: true,
            version: FBVERSION
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>