<select id="searchTypeDropDown">
    <option>Store</option>
    <option>@T("SearchDropdown.PeopleSearchText")</option>
    <option>@T("SearchDropdown.EventPageSearchText")</option>
    <option>@T("SearchDropdown.BusinessPageSearchText")</option>
</select>