/* Put all your custom styles here to keep them separate from the core styles and so they will not get overwritten when you upgrade to a 
    new version of mobSocial. */

a.logo {
    background: url("../images/logo.png") repeat scroll 0px 0px transparent;
    display: block;
    height: 75px;
    text-decoration: none;
    width: 315px;
}

li a:hover {
    text-decoration: underline;
}


/*** SEARCH BOX STYLES ***/


.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
    /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
    border-style: dashed;
    border-color: transparent;
    border-width: 0.53em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 11px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
}

.arrow-n {
    border-bottom-width: 1em;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    bottom: 0.25em;
}

.arrow-e {
    border-left-width: 1em;
    border-left-style: solid;
    border-left-color: transparent;
    left: 0.25em;
}

.arrow-s {
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: transparent;
    top: 1px;
}

.arrow-w {
    border-right-width: 1em;
    border-right-style: solid;
    border-right-color: transparent;
    right: 0.25em;
}





.search-box-border {
    border: 1px solid #cccccc;
    width: 441px;
    height: 35px;
    text-align: left;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    border-radius: 3px;
    letter-spacing: normal;
    word-spacing: normal;
    white-space-collapse: discard;
    text-align: left;
}

    .search-box-border span {
        letter-spacing: normal;
        word-spacing: normal;
    }


.search-box-button {
    float:none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 43px;
    height: 35px;
    line-height: 25px;
    margin: 0 -2px 0 -2px;
}

.search-box .search-box-button {
    float: none;
    background-color: #BC0000;
}
.search-box .search-box-button:hover {
    background-color: #980000;
}




.search-box input.search-box-text {
    float: none;
    margin-right: -2px;
}

.search-dropdown {
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 101;
    border: 1px solid #aaaaaa;
    width: 130px;
    background-color: #F6F6F4;
}

    .search-dropdown li {
        list-style: none outside none;
        float: none;
        display: block;
        text-align: left;
        background-color: #FFFFFF;
        color: #FFF;
        width: 120px;
        line-height: 22px;
        margin: 0;
        font-size: 1.1em;
        font-weight: 700;
        vertical-align: middle;
        color: #404040;
        padding: 5px 5px 5px 5px !important;
    }

        .search-dropdown li:hover {
            display: block;
            background-color: #404040;
            color: #ffffff;
        }



.search-box {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.search-box-text {
    background: none repeat scroll 0 0 #FFF;
    padding: 4px 4px;
    vertical-align: top;
    font-size: 15px;
    line-height: 25px;
    height: 25px;
    width: 288px;
    margin-left: -3px;
    margin-right: -2px;
}



    .search-box-text.people {
        width: 303px;
    }

.search-box-label {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    top: 2px;
    margin-right: 5px;
    color: #404040;
}


.search-type-selection {
    vertical-align: middle !important;
    display: inline-block;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



.search-dropdown-arrow {
    display: inline-block;
    font-size: 13px;
    border-top-width: 9px;
    border-top-color: #AAA !important;
    /* margin-top: 20px; */
    /* text-align: right; */
    z-index: 1000;
    position: relative;
    top: -18px;
    float: right;
    pointer-events: none;
}


.search-dropdown-arrow-hover {
    border-top-color: #fff !important;
}

.center-1
{
    margin:0px;
}


.ui-menu-item a.ui-state-hover {
    background-color: rgb(233, 233, 233) !important;
    background-image: none;
}


.ui-menu-item a img {
    vertical-align: top;
}

.ui-menu-item a .details {
 
}

.ui-menu-item a .title {
    
}


.ui-menu-item a .subtitle {
    color: gray;
}


.ui-menu .ui-menu-item {
}

.ui-selectmenu-menu .ui-menu .ui-menu-item {
    line-height: initial;
    padding-left: 8px;
    text-align: left;
}


/*.ui-selectmenu-menu .ui-menu .ui-menu-item .beta-label::after {
    content: 'beta';
    font-size: 5pt;
    color: rgb(12, 146, 0);
    top: -5px;
    left: 1px;
    position: relative;
    margin-right:-4px;
    
}*/



.people-search-box-thumbnail-container {
    min-width: 50px;
    float:left;
    margin-right: 5px;
}


.ui-selectmenu-button {
    width: 98px !important;
    height: 40px;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 0px;
    margin-right: -1px;
}



    .ui-selectmenu-button span.ui-selectmenu-text {
      padding: 0.5em 2.1em 0.5em 1em;
      height: 40px;
      color: #FFF;
      font-weight: normal;
      text-overflow: inherit;
      background-color: #BC0000;
    }




.search-type-button {
    width: 72px;
    height: 33px;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1.1em;
    padding: 0 10px 0;
    line-height: 31px;
    cursor: pointer;
}



.search-type-button-select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 28px;
    -webkit-appearance: none;
}


.ui-autocomplete {
    text-align: left;
}

.ui-autocomplete .ui-menu-item a {
	text-align: left !important;
	display: inline-block;
}

@media screen and (max-width: 480px) {
    input[type="text"].search-box-text {
        width: 44.4%;
    }
}


.ui-selectmenu-menu .ui-front .ui-selectmenu-open {
    margin-top: -1px
}

/*** END SEARCH BOX STYLES    ***/

.header-menu > ul > li > a:hover,
.breadcrumb a:hover,
.block .list a:hover {
  color: #980000;
}

@media (max-width: 1000px) {
    .menu-toggle,
    .footer-block.information div.title,
    .footer-block.customer-service div.title,
    .footer-block.my-account div.title,
    .newsletter-subscribe-button,
    .item-box .product-box-add-to-cart-button {
        background-color: #BC0000;
    }
}

@media  (min-width: 481px) and (max-width: 700px)  {
    .menu-toggle,
    .footer-block.information div.title,
    .footer-block.customer-service div.title,
    .footer-block.my-account div.title,
    .newsletter-subscribe-button,
    .item-box .product-box-add-to-cart-button {
        background-color: #BC0000;
    }
}

@media  (min-width: 701px) {
    .menu-toggle,
    .newsletter-subscribe-button,
    .item-box .product-box-add-to-cart-button {
        background-color: #BC0000;
    }
}


.cart-total .order-total,
.order-details-page .order-overview .order-total strong
{
    color: #4C4C4C;

}

.cart-footer .checkout-button
{
    background-color: #169E00;
}

.cart-footer .checkout-button:hover {
    background-color: #107600;
}


    .item-box .product-title a,
    .block .list .active > a,
    .block .view-all a,
    .cart a, .data-table a, .forum-table a,
    .topic-post .post-actions .post-link-button,
    .mini-shopping-cart .name a,
    .overview .value a, .variant-overview .value a,
    .ui-tabs-nav li.ui-state-active a,
    .cart .product .edit-item a,
    .email-a-friend-page .title h2
    { 
        color: #BC0000;
    }

    .item-box .product-title a:hover,
    .block .list .active > a:hover,
    .block .view-all a:hover,
    .block .tags li a:hover,
    .forums-table-section .forum-title a:hover, 
    .forums-table-section .topic-title a:hover,
    .forums-table-section .topic-title a:hover,
    .cart a:hover, .data-table a:hover, .forum-table a:hover,
    .forum-search-box .advanced a:hover,
    .topic-post .post-actions .post-link-button:hover,
    .topic-post a.username:hover,
    .mini-shopping-cart .name a:hover,
    .header-links a:hover,
    .overview .value a:hover, .variant-overview .value a:hover,
    .footer-block .list a:hover,
    .cart .product a:hover,
    .wishlist-page .share-info a:hover,
    .address-list-page .button-2:hover, .order-list-page .button-2:hover,
    .cart .product .edit-item a:hover
    { 
        color: #980000;
    }



.registration-page .button-1,
.registration-result-page .button-1,
.login-page .button-1,
.password-recovery-page .button-1,
.account-page .button-1,
.return-request-page .button-1,
.newsletter-subscribe-button,
.item-box .product-box-add-to-cart-button,
.overview .add-to-cart-button,
.variant-overview .add-to-cart-button,
.search-input .button-1,
.contact-page .button-1,
.mini-shopping-cart input[type="button"],
.wishlist-content .update-wishlist-button, 
.wishlist-content .wishlist-add-to-cart-button,
.checkout-page .button-1,
.shopping-cart-page .common-buttons input:first-child,
.order-details-page .page-title a.print-order-button,
.order-details-page .actions input:first-child,
.forum-edit-page .buttons .button-1, 
.move-topic-page .buttons .button-1,
.private-messages .buttons .button-1,
.pager li span,
.email-a-friend-page .button-1
 {
    background-color: #BC0000;
}







    .registration-page .button-1:hover,
    .registration-result-page .button-1:hover,
    .login-page .button-1:hover,
    .password-recovery-page .button-1:hover,
    .account-page .button-1:hover,
    .return-request-page .button-1:hover,
    .newsletter-subscribe-button:hover,
    .item-box .product-box-add-to-cart-button:hover,
    .overview .add-to-cart-button:hover,
    .variant-overview .add-to-cart-button:hover,
    .search-input .button-1:hover,
    .contact-page .button-1:hover,
    .forums-table-section .view-all a:hover,
    .mini-shopping-cart input[type="button"]:hover,
    .wishlist-content .update-wishlist-button:hover,
    .wishlist-content .wishlist-add-to-cart-button:hover,
    .checkout-page .button-1:hover,
    .shopping-cart-page .common-buttons input:first-child:hover,
    .order-details-page .page-title a.print-order-button:hover,
    .order-details-page .actions input:first-child:hover,
    .forum-edit-page .buttons .button-1:hover,
    .move-topic-page .buttons .button-1:hover,
    .private-messages .buttons .button-1:hover,
    .email-a-friend-page .button-1:hover {
        background-color: #980000;
    }



