<div class="form-group row">
    <label for="fieldType" class="col-md-3 control-label">{{ customField.Label }}</label>
    <div class="col-md-9">
        <div ng-switch on="customField.FieldType">
            <div ng-switch-when="1">
                <input class="form-control" type="text" id="fieldType" ng-model="customField.Value"/>
            </div>
            <div ng-switch-when="2">
                <textarea class="form-control" id="fieldType" ng-model="customField.Value"></textarea>
            </div>
            <div ng-switch-when="3">
                <textarea wyswyg class="form-control" id="fieldType" ng-model="customField.Value"></textarea>
            </div>
            <div ng-switch-when="4">
                <input class="form-control" type="number" id="fieldType" ng-model="customField.Value" />
            </div>
            <div ng-switch-when="5">
                <input class="form-control" type="email" id="fieldType" ng-model="customField.Value" />
            </div>
            <div ng-switch-when="6">
                <input class="form-control" type="password" id="fieldType" ng-model="customField.Value" />
            </div>
            <div ng-switch-when="7">
                <input icheck class="form-control" type="checkbox" id="fieldType" ng-model="customField.Value" />
            </div>
            <div ng-switch-when="8">
                <div ng-if="availableValues.length > 0" ng-repeat="av in availableValues">
                    <label>
                        <input icheck type="checkbox" value="{{av}}" ng-checked="selectedValues.indexOf(av) > -1" id="fieldType" ng-click="handleCheckboxListChange(av)" />
                        {{av}}
                    </label>
                </div>
            </div>
            <div ng-switch-when="9">
            </div>
            <div ng-switch-when="10">
                <div ng-if="availableValues.length > 0" ng-repeat="av in availableValues">
                    <label>
                        <input type="radio" value="{{av}}" ng-selected="customField.Value == av" id="fieldType" ng-model="customField.Value" />
                        {{av}}
                    </label>
                </div>
            </div>
            <div ng-switch-when="11">
            </div>
            <div ng-switch-when="12">
            </div>
            <div ng-switch-when="13">
                <div ng-if="availableValues.length > 0">
                    <select class="form-control" id="fieldType" ng-model="customField.Value">
                        <option ng-repeat="av in availableValues" value="{{av}}">
                            {{av}}
                        </option>
                    </select>
                </div>
            </div>
            <div ng-switch-when="14" id="nestedDropdown_{{fieldUId}}">
                
            </div>
        </div>
    </div>
</div>